.search-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  background-color: lightblue;
  border-radius: 25px;
  margin: 50px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.search-bar {
  width: 60%;
  height: 40px;
  border: none;
  padding: 10px;
  font-size: 16px;
  border-radius: 25px;
  outline: none;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease-in-out;
  background-image: linear-gradient(to right, lightblue, rgb(241, 140, 140));
  color: white;
  font-weight: bold;
  padding-left: 40px;
  position: relative;
}

.search-bar:before {
  content: "";
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: white;
}

.search-bar:focus {
  box-shadow: 0 0 10px lightcoral;
}

.movies-container {
  width: 60%;
  margin: 50px auto;
  text-align: center;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  background-color: lightblue;
  border-radius: 25px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

li {
  padding: 20px;
  font-size: 18px;
  font-weight: bold;
  color: black;
}

li:last-child {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

li:nth-child(even) {
  background-color: lightcoral;
}
